.content-container {
  background-color: #3f3f3f;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  color: rgb(231, 231, 231);
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.75px;
}

.content-container a {
  color: rgb(43, 252, 252);
  text-decoration: none;
}

.content-main {
  padding: 20px;
}

.section-container {
    text-align: center;
}

h2.chapter,
h2.section {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.separator {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  display: inline-block;
  height: 1px;
  width: 50px;
  background-color: #FFF;
  margin: 5px 25px;
}

h2.title {
    letter-spacing: 1px;
    text-align: center;
}

.foot-notes {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 2px solid rgb(43, 252, 252);
  padding: 10px;
  margin: 0 -20px;
}

.foot-notes p {
  margin: 0;
}

hr {
  background-color: rgb(43, 252, 252);
  margin: 20px 40%;
}